<form action="" name="contatoForm">
    <input class="form-control mb-2" type="text" ng-model="contato.nome" name="nome" placeholder="Nome"
        ng-required="true" ng-minlength="10">

    <input class="form-control mb-2" type="text" ng-model="contato.telefone" name="telefone"
        placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">

    <input class="form-control mb-2" type="text" ng-model="contato.data" name="data" placeholder="Data"
        ui-date>

    <select class="form-select mb-3" ng-model="contato.operadora"
        ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' ) ' for operadora in operadoras | orderBy: 'nome'">
        <option value="">Selecione uma operadora</option>
    </select>

    <div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty"
        class="alert alert-danger">
        Preencha o campo nome
    </div>

    <div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">
        O campo nome deve ter no mínimo 10 caracteres
    </div>

    <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty"
        class="alert alert-danger mt-3">
        Preencha o campo telefone
    </div>

    <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger mt-3">
        O campo telefone deve ter o formato XXXXX-XXXX
    </div>

    <div class="d-flex justify-content-center">
        <button class="btn btn-primary" ng-click="adicionarContato(contato)"
            ng-disabled="contatoForm.$invalid">Adicionar
            contato</button>
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-danger mt-2" ng-click="apagarContatos(contatos)"
            ng-hide="!isContatoSelecionado(contatos)">Apagar contatos</button>
    </div>
</form>