:root {
    --color-blue: blue;
    --color-green: green;
    --color-orange: orange;
    --margin: 10px; 
}

.logo{
    margin: var(--margin);
    background-color: var(--color-blue);
    width: 50%;
    text-align: center;
}

body {
    background-color: rgb(59, 58, 58);
    color: white;
}

h1 {
    color: var(--color-orange);
}